<h1>Productos</h1>

{{#each products}}
<div class="card">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.price}}</p>
    <a class="btn" href="/products/{{this._id}}/addtoCart">Agregar al carrito</a>
    
</div>

{{/each}}

{{#if hasPrevPage}}

    <a href="/products?page={{prevPage}}"> Anterior </a>

{{/if}}

{{#if hasNextPage}}

    <a href="/products?page={{nextPage}}"> Siguiente </a>

{{/if}}

<p> {{currentPage}} de {{totalPages}} </p>



